{% extends 'bootstrap.html.twig' %}

{% block body %}
    <header class='header'>
        <div class="container">
            <div class='row'> 
                <h1>{{'home.title'|trans}}</h1>
            </div>
        </div>
        <div id="menu">
            {{ render(controller(
        'AppBundle:Annuaire:listcategory'
    )) }}
        </div>
    </header>
    <div class="container">
        {% set vars = {'webSites': webSites} %}
        {% include 'annuaire/categorySite.html.twig' with vars %}
        
    </div>  
{% endblock %}


