body {
    background-color: #000;
    color: #ff8100;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
}
.header {
    color:#fff;
    background: #ff8100 url(../img/banniere.png) no-repeat scroll 0 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
@media (min-width: 1200px) {
    .header {
        width: 100%;
        height: 500px;
    }
}
@media (max-width: 979px) and (min-width: 768px) {
    .header {
        padding-top: 100px;
        width: 100%;
        height: 100%;
    }
}
hr{    
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #ffffff;
}

h1{color:#fff;padding-top: 10px;}

.inscription {
    padding-top: 20px;
    font-size: 30px;
    background: #ff8100;
    color: #fff;
    height: 80px;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.subcategory{background-color:rgba(0,0,0,0.4);}
.headCategory{
    color:#000;background-color: rgba(255,255,255,0.4);margin: 10px 0 10px 0;padding: 10px;text-align: justify;
}

.rowAdminBoarder{
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 1em;
}
.border-b{
    border-bottom: #fff solid 1px;
}

.icon{ 
    width: 40px;
    margin: 7px 9px 9px;
}
.linkAdmin{
    color:#fff;
}
.linkAdmin:hover{
    color:#fff;
    font-weight: 700;
}
.premium{
    background-color: rgba(50,200,50,0.4);
    font-size: 1em;
}
.keyword{
    color:#fff;
}
.icon-small{ 
    width: 20px;
    margin: 2px 3px 3px;
}
.trach{
    background-color: #cc5555; 
}
.white{
    background-color: #fff; 
}

.flash-notice{
    background-color: rgba(250,250,250,0.5);
}
.td-odd{
    background-color: rgba(250,90,0,0.8);   
}
.td-even{
    background-color: rgba(250,150,0,0.8);   
}
.headBoard{
    font-weight: 900;
}

/**
pagination
*/
.pagination {
    display: inline-block;
}
.pagination span.page a, .pagination span.first a, .pagination span.previous a 
, .pagination span.next a, .pagination span.last a   {
    color: white;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination span>a:hover:not(.active) {background-color: #ff8100;}

.pagination span.current{
    background-color: white;
    color:  #000;  
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

header{
    overflow: auto; 
}
footer{
    position:fixed;
    bottom:0px;

}

