<div class="container">
    {% if categories is defined  and categories is not empty  %}
        <div class='row'><h2>{{'category.subcategory'|trans}}</h2></div>
        <div class='row'> 
            {%for cat in categories%}
                <div class="col-lg-3" style='color:#fff;'>
                    <a href="{{ path('_category', {'id': cat.id}) }}" style='color:#fff;'>{{cat.name}}</a>
                </div>               
                {% if loop.index is divisible by(4)  %}
                </div> <div class='row'> 
                {% endif %}
            {%endfor %}     

        </div>

    {% else %}
        <div class='row'><h2>{{'category.emptySub'|trans}}</h2></div>
            {% endif %}
</div>
